.main {
	width: 1200px;
	min-height: 90vh;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 2px 2px;
	background: rgba(235, 235, 235, 0.1);
	border-radius: 8px;
}